:root {
	/* //*colors */
	--dark-blue: #000888;
	--blue: #007bfc;
	--middle-blue: #64b6fa;
	--light-blue: #c9e4ff;
	--yellow: #efba1c;
	--red: #fb1174;

	--dark: #4b4b4b;
	--cool-gray: #505c74;
	--gray: #7b7b7b;
	--middle-gray: #aeb3bf;
	--light-gray: #bdbdbd;
	--white: #fefefe;

	/* //*scrollbar */
	--scrollbarBg: #fff;
	--scrollbarThumb: var(--blue);
	--scrollbarWidth: 1rem;
	--scrollbarBorder: 0.2rem solid var(--scrollbarBg);
	--scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}
